html {
     margin: auto;
     margin-top: 50px;
     display: table;
     border: 1px solid black;
}
h2 {
    color: orange;
    text-align: center;
}
table, th, td {
     border: 1px solid black;
     margin: auto;
}